 body {
     font-family: Arial, sans-serif;
     background: #f4f6f9;
     padding: 30px;
     text-align: center;
 }

 h2 {
     color: cornflowerblue;
     padding-bottom: 20px;
 }

 input {
     padding: 10px;
     width: 250px;
     border: 2px solid rgb(148, 148, 185);
     border-radius: 2px;

 }

 button {
     padding: 10px 15px;
     margin: 5px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-weight: bold;
     transition: 0.3s;
 }

#addBtn{
       background-color: #4CAF50;
      color: white;
}

#addBtn:hover {
    background-color:  #327034;
}

#clearBtn {
    background-color: crimson;
    color: white;
}

#clearBtn:hover{
    background-color: rgb(136, 13, 38);;
}